[Unit]
Description=Redmine

[Service]
Type=forking
PIDFile=/var/run/redmine/unicorn.pid
Restart=always
RestartSec=3
PermissionsStartOnly=true
RuntimeDirectory=redmine
ExecStart=/home/redmine/bin/unicorn_rails -c {{ redmine_home }}/shared/config/redmine/unicorn.conf.rb -p {{ redmine_unicorn_port }} -E production -D
User=redmine
Group=redmine
[Install]
WantedBy=multi-user.target
